*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins',sans-serif;
}

body{
    background: rgb(255, 253, 253);
    color: rgb(5, 92, 92);
    overflow: hidden;
    overflow-y: scroll;
}
